body {
    margin: 0;
    background: rgb(11, 7, 84);
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-around;
    color: white;
    font-family:'Verdana' ;
    font-size: 45px;
}
#home-ele{
    background-color: black;
    font-family: 'Dot Matrix', sans-serif;                                             
    border: 1px solid black;
    font-size: 120px;
    color: #F94F6D;
    margin-top:auto;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 15px;  
}
#guest-ele{
    background-color: black;
    font-family: 'Dot Matrix', sans-serif;                                             
    border: 1px solid black;
    font-size: 120px;
    color: #F94F6D;
    margin-top:auto;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 15px;
}
button{
margin-top: 50px;
 background: rgb(11, 7, 84);
 font-size: 35px;
 color: white;
 border: 1px solid white;
 border-radius: 10px;
 font-weight: bold;
 cursor: pointer;
 padding:5px;
}
button:hover {background-color: #190df8}